section.movies-section {
    background-color: yellow;

    .card {
        height: 240px;

        .card-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;
        }
    }

    .colored {
        color: yellow;
    }

}